.outer-container {
    background-color: #C1EEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 34px;
    border-radius: 6px;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, alph0a);
    font-family: 'CustomFont';
}

.signup-form {
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 34px;
    border-radius: 6px;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, alph0a);
    font-family: 'CustomFont';
}


@font-face {
    font-family: 'CustomFont';
    src:url(../fonts/Quirky\ Bay\ -\ Free\ Version-bb5b.woff)
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #000;
    margin-bottom: 40px;
}

p {
    font-family: CustomFont;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    color: #000;
    margin-bottom: 40px;
}

form {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

input[type="text"], input[type="password"] {
    font-family: 'CustomFont';
    font-size: 15px;
    font-weight: 400;
    color: #000;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 15px;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    font-family: 'CustomFont';
    font-size: 18px;
    font-weight: 100;
    color: black;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 15px;
    background: #C1EEFF;
    border: none;
    border-radius: 60px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.google-button,
.apple-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #fff; /* Background color for the buttons */
  border: 1px solid #ccc;
  border-radius: 60px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-button i,
.apple-button i {
  font-size: 24px; /* Adjust the icon size as needed */
  margin-right: 10px; /* Add spacing between the icon and text */
}

.google-button:hover,
.apple-button:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
  border-color: #bbb;
  transition: background-color 0.3s ease;
}

/* Adjust colors to match your design */
.google-button {
  color: #4285f4; /* Google blue color */
}

.apple-button {
  color: #000; /* Black color for Apple button */
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .signup-form {
      max-width: 100%;
    }
    input[type="text"],
    input[type="password"] {
      font-size: 14px;
    }
    button {
      font-size: 14px;
    }
  }