/* HomePage.css */
.homepage {
    display: flex;
  }
  
  .navbar {
    background-color: #30506F;
    color: white;
    padding: 1rem;
  }
  
  .create-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .content-container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: #C1EEFF;
    width: 200px;
    padding: 1rem;
    height: 100vh; /* Make sidebar full height */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 1rem;
    font-family: CustomFont;
    text-align: left;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  /* Add more styles as needed */
  
  /* Responsive styles */
@media (max-width: 768px) {
    .homepage {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%; /* Make sidebar full width */
      height: auto; /* Auto height */
    }
  
    .navbar {
      text-align: center;
    }
}